<roundcube:object name="doctype" value="html5" />
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
</head>
<body class="noscroll">

<roundcube:include file="/includes/header.html" />

<div id="mainscreen" class="offset">

<roundcube:include file="/includes/settingstabs.html" />

<div id="pluginbody" class="uibox contentbox scroller">
    <h1 class="boxtitle"><roundcube:object name="steptitle" /></h1>
    <div class="boxcontent propform">
        <roundcube:object name="plugin.apppassadder" class="form-control" />
        <roundcube:object name="plugin.new_password" class="new_password" />
        <roundcube:object name="plugin.settingslist" class="propform authentication-factors" />
    </div>
</div>

</div>

<roundcube:include file="/includes/footer.html" />

</body>
</html>
